Flask==2.2.2
gunicorn==20.1.0
python-dotenv==0.21.1
pytest==7.0.1
# https://download.pytorch.org/whl/cpu/torch-2.0.0%2Bcpu-cp39-cp39-linux_x86_64.whl
torch==2.0.0
# https://download.pytorch.org/whl/cpu/torchvision-0.15.1%2Bcpu-cp39-cp39-linux_x86_64.whl
torchvision==0.15.1
# segmentation-models-pytorch==0.3.2
requests-toolbelt==0.10.1
https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow_cpu-2.13.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl